In [2]:
#Imports
import pandas as pd
import numpy as np
import os

In [6]:
#1.a
def loadDataFramesFromCSV(folder, indexKey) :
        
    files = [os.path.basename(x) for x in glob.glob(folder)]
    
    mapData = []

    for fileName in files:
        mapData.append(pd.read_csv(folder[0: -5] + fileName, sep=';', index_col=None, header=0, error_bad_lines=False))
       
    return pd.concat(mapData)

nacimientos = loadDataFramesFromCSV(os.getcwd() + "/datasets/nacimientos/*.csv", 4)
nacimientos.describe()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,SEXO,DIA_NAC,MES_NAC,ANO_NAC,TIPO_PARTO,ATENC_PART,LOCAL_PART,SEMANAS,PESO,TALLA,...,ACTIV_M,CATEG_M,COMUNA,URBA_RURAL,HIJ_VIVOS,HIJ_FALL,HIJ_MORT,HIJ_TOTAL,REG_RES,SERV_RES
count,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614208e+06,...,4.614208e+06,4.614099e+06,4.614208e+06,4.614208e+06,4.614208e+06,4.614206e+06,4.614206e+06,4.614208e+06,4.605537e+06,4.605537e+06
mean,1.489339e+00,1.571194e+01,6.511109e+00,2.005502e+03,1.030141e+00,1.616802e+00,1.014353e+00,3.871546e+01,3.338552e+03,4.945679e+01,...,3.579386e-01,8.160263e-01,6.968371e+03,1.106263e+00,2.185830e+00,2.965873e-01,2.967141e-01,2.026378e+00,9.225264e+00,1.307950e+01
std,5.010019e-01,8.776390e+00,3.460641e+00,6.433334e+00,3.259952e-01,5.417371e-01,2.527787e-01,3.093648e+00,6.047710e+02,3.525386e+00,...,6.928728e-01,1.257706e+00,5.185037e+03,3.111927e-01,4.963969e+00,5.273610e+00,5.274186e+00,2.487633e+00,3.843385e+00,6.371383e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,1.996000e+03,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,2.010000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,8.000000e+00,3.000000e+00,2.000000e+03,1.000000e+00,1.000000e+00,1.000000e+00,3.800000e+01,3.050000e+03,4.800000e+01,...,0.000000e+00,0.000000e+00,6.350000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,6.000000e+00,9.000000e+00
50%,1.000000e+00,1.600000e+01,7.000000e+00,2.005000e+03,1.000000e+00,2.000000e+00,1.000000e+00,3.900000e+01,3.360000e+03,5.000000e+01,...,0.000000e+00,0.000000e+00,7.302000e+03,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,9.000000e+00,1.300000e+01
75%,2.000000e+00,2.300000e+01,1.000000e+01,2.012000e+03,1.000000e+00,2.000000e+00,1.000000e+00,4.000000e+01,3.670000e+03,5.100000e+01,...,1.000000e+00,2.000000e+00,1.311000e+04,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.300000e+01,1.700000e+01
max,9.000000e+00,9.900000e+01,1.200000e+01,2.017000e+03,9.000000e+00,9.000000e+00,9.000000e+00,9.900000e+01,9.999000e+03,9.900000e+01,...,9.000000e+00,9.000000e+00,1.520200e+04,9.000000e+00,9.900000e+01,9.900000e+01,9.900000e+01,9.900000e+01,1.500000e+01,3.300000e+01

In [7]:
nacimientos

,SEXO,DIA_NAC,MES_NAC,ANO_NAC,TIPO_PARTO,ATENC_PART,LOCAL_PART,SEMANAS,PESO,TALLA,...,COMUNA,URBA_RURAL,HIJ_VIVOS,HIJ_FALL,HIJ_MORT,HIJ_TOTAL,REG_RES,SERV_RES,ESTAB,NAC_MA
0,1,8,3,2017,1,2,1,37,2650,49,...,5606,1,1,0.0,0.0,1,5.0,6.0,HOSPITAL CLAUDIO VICUNA,C
1,1,8,3,2017,1,2,1,38,3980,53,...,5603,1,2,0.0,0.0,2,5.0,6.0,HOSPITAL CLAUDIO VICUNA,C
2,1,7,3,2017,1,2,1,40,4536,52,...,5603,1,2,0.0,0.0,2,5.0,6.0,HOSPITAL CLAUDIO VICUNA,C
3,2,10,3,2017,1,2,1,38,3640,50,...,5601,1,2,0.0,0.0,2,5.0,6.0,HOSPITAL CLAUDIO VICUNA,C
4,2,6,3,2017,1,2,1,39,3290,50,...,5601,1,1,0.0,0.0,1,5.0,6.0,HOSPITAL CLAUDIO VICUNA,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246576,2,31,1,2008,1,1,1,39,3860,47,...,13603,1,3,0.0,0.0,3,13.0,10.0,Hospital Talagante,NaN
246577,2,4,2,2008,1,1,1,39,2980,47,...,10306,1,3,0.0,0.0,3,10.0,23.0,HOSPITAL DE OSORNO,NaN
246578,2,5,2,2008,1,1,1,39,3250,50,...,11201,1,1,0.0,0.0,1,11.0,25.0,HOSPITAL DE PUERTO AYSEN,NaN
246579,1,8,2,2008,1,2,1,38,3180,50,...,13114,1,3,0.0,0.0,3,13.0,12.0,CLINICA TABANCURA,NaN
246580,1,1,2,2008,1,2,1,38,3410,49,...,13119,1,2,0.0,0.0,2,13.0,11.0,Hospital del Profesor,NaN

In [5]:
#1.b
nacimientos['MES_NAC'].mode()
#El mes de naciemiento mas comun, es el mes de Enero, dentro de todos los dataframes

#1.c
nacimientos['DIA_NAC'].mode()
#El dia de nacimiento mas comun, es el dia viernes

0    5
dtype: int64

In [ ]:
covar_general = nacimientos.cov()

In [61]:
#1.d.I
covar_general['PESO']['TALLA']

#La covarianza entre peso y talla de todo el dataframe es 1613.94, esto quiere decir que hay fuerte 
#relacion entre las dos variables

1613.940453634452

In [49]:
def covar(var1, var2) :

    dataframe_groupped = nacimientos.groupby(by = ['ANO_NAC']).agg(
        d_max=pd.NamedAgg(column="ANO_NAC", aggfunc="max")
    )
     
    anios = dataframe_groupped.reset_index()['ANO_NAC']
    
    for anio in anios:
        
        covar_vars = nacimientos[
            nacimientos['ANO_NAC'] == anio
        ].cov()[var1][var2]
        
        print("año:" , anio , "covarianza", var1, var2, covar_vars)

In [56]:
def correl(var1, var2) :

    dataframe_groupped = nacimientos.groupby(by = ['ANO_NAC']).agg(
        d_max=pd.NamedAgg(column="ANO_NAC", aggfunc="max")
    )
     
    anios = dataframe_groupped.reset_index()['ANO_NAC']
    
    for anio in anios:
        
        correl_vars = nacimientos[
            nacimientos['ANO_NAC'] == anio
        ].corr()[var1][var2]
        
        print("año:" , anio , "correlacion", var1, var2, correl_vars)

In [50]:
#1.d.I
covar('PESO', 'TALLA')

#Se observa que la covarianza, entre todos los años, se mantiene fuerte entre las variables peso-talla, 
#es deci la relacion entre estas variables es fuerte y se mantiene uniforme

año: 1996 covarianza PESO TALLA 1706.7990615482454
año: 1997 covarianza PESO TALLA 1613.3663655965022
año: 1998 covarianza PESO TALLA 1491.9821247333764
año: 1999 covarianza PESO TALLA 1420.3308822746417
año: 2000 covarianza PESO TALLA 1342.455239296156
año: 2001 covarianza PESO TALLA 1345.0597757496507
año: 2002 covarianza PESO TALLA 1340.9475592600938
año: 2003 covarianza PESO TALLA 1579.8892035564133
año: 2004 covarianza PESO TALLA 1941.5113776454966
año: 2005 covarianza PESO TALLA 1673.8976647402264
año: 2006 covarianza PESO TALLA 1276.7565440764342
año: 2007 covarianza PESO TALLA 1874.690097698893
año: 2008 covarianza PESO TALLA 1401.8774986355713
año: 2009 covarianza PESO TALLA 1750.9694111185413
año: 2012 covarianza PESO TALLA 1625.5517466656208
año: 2013 covarianza PESO TALLA 1682.3370260442348
año: 2015 covarianza PESO TALLA 1860.6086251951315
año: 2016 covarianza PESO TALLA 1941.5340218259025
año: 2017 covarianza PESO TALLA 1791.252916517983

In [57]:
#1.d.II
correl('PESO', 'TALLA')

#Se observa que la correlacion entre las variables y entre los años de estudio, se mantiene como asociacion alta

año: 1996 correlacion PESO TALLA 0.6831253739765755
año: 1997 correlacion PESO TALLA 0.67591591901904
año: 1998 correlacion PESO TALLA 0.6754221350927586
año: 1999 correlacion PESO TALLA 0.6199907401535032
año: 2000 correlacion PESO TALLA 0.6220284615544964
año: 2001 correlacion PESO TALLA 0.6763850232581875
año: 2002 correlacion PESO TALLA 0.7025151867727332
año: 2003 correlacion PESO TALLA 0.7625928873857769
año: 2004 correlacion PESO TALLA 0.8140415338457441
año: 2005 correlacion PESO TALLA 0.7875364325798732
año: 2006 correlacion PESO TALLA 0.719227521437101
año: 2007 correlacion PESO TALLA 0.8029909851143785
año: 2008 correlacion PESO TALLA 0.8369279892592976
año: 2009 correlacion PESO TALLA 0.8575756518883689
año: 2012 correlacion PESO TALLA 0.8632935369862559
año: 2013 correlacion PESO TALLA 0.8639616134842242
año: 2015 correlacion PESO TALLA 0.8520952121943869
año: 2016 correlacion PESO TALLA 0.8373180828546023
año: 2017 correlacion PESO TALLA 0.8602933826953153

In [62]:
covar_general['EDAD_P']['EDAD_M']

#La covarianza entre la edad del padre y edad de la madre de todo el dataframe es 27.7890, esto quiere 
#decir que hay fuerte relacion entre las dos variables de estudio

27.78907364465958

In [59]:
#1.e.I
covar('EDAD_P', 'EDAD_M')

#Se observa que la covarianza, entre todos los años, se mantiene fuerte entre las variables 
#edad del padre y edad de la madre, es deci la relacion entre estas variables es fuerte, pero en algunos casos 
#cae fuerte esta relacion, por ejemplo en los años 2004 y 2006 (puede deberse a que hay algunas personas, en la 
#columa de la edad del padre, marcadas con 99 años)

año: 1996 covarianza EDAD_P EDAD_M 33.18726139772861
año: 1997 covarianza EDAD_P EDAD_M 33.92452340901161
año: 1998 covarianza EDAD_P EDAD_M 34.71092566624008
año: 1999 covarianza EDAD_P EDAD_M 35.2509717824451
año: 2000 covarianza EDAD_P EDAD_M 36.036959847394755
año: 2001 covarianza EDAD_P EDAD_M 37.03274303129274
año: 2002 covarianza EDAD_P EDAD_M 37.35842256959036
año: 2003 covarianza EDAD_P EDAD_M 37.31841427202803
año: 2004 covarianza EDAD_P EDAD_M 10.013089934125967
año: 2005 covarianza EDAD_P EDAD_M 38.790301396501185
año: 2006 covarianza EDAD_P EDAD_M 12.70019654075721
año: 2007 covarianza EDAD_P EDAD_M 14.951549541232522
año: 2008 covarianza EDAD_P EDAD_M 14.519631108982692
año: 2009 covarianza EDAD_P EDAD_M 15.10735647933824
año: 2012 covarianza EDAD_P EDAD_M 17.785136459504887
año: 2013 covarianza EDAD_P EDAD_M 42.54884774569073
año: 2015 covarianza EDAD_P EDAD_M 18.615095716967478
año: 2016 covarianza EDAD_P EDAD_M 18.19172129744689
año: 2017 covarianza EDAD_P EDAD_M 18.096970424370593

In [63]:
#1.e.II
correl('EDAD_P', 'EDAD_M')

#Se observa que la correlacion entre las variables de la edad del padre y de la madre, tienen alta relacion, 
#respecto a cada año de estudio. En el año 2004 y 2006 y tal como se puede apreciar en la covarianza, si bien 
#se tiene una correlacion positiva, esta es baja, y puede deberse a los mismos factores descritos en el enunciado
#de la covarianza

año: 1996 correlacion EDAD_P EDAD_M 0.7187858670296094
año: 1997 correlacion EDAD_P EDAD_M 0.7244449004393878
año: 1998 correlacion EDAD_P EDAD_M 0.7296118364193435
año: 1999 correlacion EDAD_P EDAD_M 0.7293093462371801
año: 2000 correlacion EDAD_P EDAD_M 0.7333028445893505
año: 2001 correlacion EDAD_P EDAD_M 0.7380155090192067
año: 2002 correlacion EDAD_P EDAD_M 0.7385465902920287
año: 2003 correlacion EDAD_P EDAD_M 0.7361773939341353
año: 2004 correlacion EDAD_P EDAD_M 0.06292225021847005
año: 2005 correlacion EDAD_P EDAD_M 0.7438406525221317
año: 2006 correlacion EDAD_P EDAD_M 0.08013834288650504
año: 2007 correlacion EDAD_P EDAD_M 0.09308421976087923
año: 2008 correlacion EDAD_P EDAD_M 0.09209638865998546
año: 2009 correlacion EDAD_P EDAD_M 0.09514834083495703
año: 2012 correlacion EDAD_P EDAD_M 0.11862248209664662
año: 2013 correlacion EDAD_P EDAD_M 0.5306607523717445
año: 2015 correlacion EDAD_P EDAD_M 0.13332878742134352
año: 2016 correlacion EDAD_P EDAD_M 0.1358106004069341
año: 2017 correlacion EDAD_P EDAD_M 0.1320092746668187